* {
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}
body {
  padding: 20px;
  position: relative;
}
img {
  vertical-align: bottom;
  border: none;
}
h1 {
  margin-bottom: 15px;
  font-size: 150%;
}
h2 {
  margin-bottom: 15px;
  font-size: 130%;
}
p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}
li {
  padding: 10px;
}
#example1 .target {
  padding: 20px 20px 20px 20px;
  border: 1px solid #222222;
  width: 620px;
  height: 400px;
}
#anchor {
  color: red;
}
#scrollTo {
  margin-top: 10px;
}
/*
* Scrollbar design
*/
#example1 .simpleScrollScrollBase {
  width: 10px;
  position: absolute;
  right: -15px;
}

#example1 .simpleScrollScrollPane {
  width: 10px;
  position: relative;
  background-color: #DDDDDD;
  cursor: pointer
  cursor: s-resize;
}
#example1 .simpleScrollScrollBar {
  width: 10px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  background-color: #222222;
  cursor: pointer;
}
