* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  padding: 20px;
  position: relative;
  overflow: hidden;
}

h1 {
  margin-bottom: 15px;
  font-size: 150%;
}

h2 {
  margin-bottom: 15px;
  font-size: 130%;
}

p {
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.boxes { 
  position: relative;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.target {
}

#menu {
  margin-bottom: 20px;  
}

#menu li {
  margin-right: 10px;
  display: inline;
}

#example1 .target {
  padding: 20px 20px 20px 20px;
  border: 1px solid #222222;
  width: 300px;
}

#anchor {
  color: red;
}

#scrollTo {
  margin-top: 10px;
}

#example2 .target {
  width: 500px;
  padding-right: 20px;
}

#example2 {
  width: 100%;
}

#example2 .target {
  width: 100%;
}


/*
* Scrollbar design
*/
#example1 .simpleScrollScrollBase {
  width: 10px;
  position: absolute;
  right: -15px;
}

#example1 .simpleScrollScrollPane {
  width: 10px;
  position: relative;
  background-color: #DDDDDD;
  cursor: pointer
  cursor: s-resize;
}

#example1 .simpleScrollScrollBar {
  width: 10px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  background-color: #222222;
  cursor: pointer;
}

#example2 .simpleScrollContainer {
}

#example2 .simpleScrollContent {
}

#example2 .simpleScrollScrollBase {
  margin: 0;
  width: 20px;
  position: absolute;
  right: -15px;
}

#example2 .simpleScrollScrollPane {
  width: 1px;
  position: relative;
  left: 10px;
  background: #e50080;
  cursor: pointer
  cursor: s-resize;
}

#example2 .simpleScrollScrollBar {
  margin-left: -3.5px;
  width: 8px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  background: #e50080;
  color: #e50080;
  cursor: pointer;
}


